* {
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'Red Hat Mono', 'Courier New', monospace; */
  font-family: 'Josefin Slab', 'Garamond', serif;
  /* font-size: medium; */
  color: ivory;
  line-height: 1.25;
}

body {
  margin: 0px;
  overflow: overlay;
  overflow-wrap: break-word;  /* break excessively long words */
  background-image: url(../public/img/night-sky-2-darker.jpg);
  background-color: rgb(31, 37, 113);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 115%;
}

.App {
  text-align: center;
  white-space: pre-line;  /* ensure that text wraps where there is a line break */
}

/* there has to be a better way to do this */
div.default, 
div.home, 
div.about, 
div.login, 
div.signup, 
div.dream-archive, 
div.dream, 
div.new-dream, 
div.edit-dream, 
div.confirm-delete,
div.page-not-found {
  margin: auto;    /* centers div element */
  padding-bottom: 20px;
  width: 50%;
  max-width: 600px;
}

/* headings */
h1 {
  margin-top: 44px;
  margin-bottom: 30px;
  font-family: 'Dancing Script', 'Brush Script MT', cursive;
  font-size: 320%;
  text-shadow: 
    0 0 5px rgb(116, 0, 211),
    /* 0 0 10px rgb(116, 0, 211), */
    0 0 20px rgb(116, 0, 211),
    0 0 40px rgb(116, 0, 211);
}

/* buttons */
button, 
input[type=submit] {
  cursor: pointer;
  font-family: 'Red Hat Mono', 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

button:hover, 
input[type=submit]:hover {
  color: rgb(251, 201, 251);
  font-weight: bold;
  text-shadow: 
    0 0 3px darkviolet,
    0 0 5px darkviolet,
    0 0 10px darkviolet,
    0 0 20px darkviolet;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
}

/* label {
  font-family: 'Red Hat Mono';
  font-size: 80%;
} */

/* text input */
input[type=text], 
input[type=password], 
textarea {
  font-family: 'Red Hat Mono', 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

input[type=text]:focus, 
input[type=password]:focus, 
textarea:focus {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* doesn't work properly w/ autofill */
}

input:-webkit-autofill, 
input:-webkit-autofill:hover, 
/* input:-webkit-autofill:focus,  */
input:-webkit-autofill:active {
  /* effectively block browser's autofill highlighting by using the longest transition duration possible lol */
  transition: background-color 2147483647s;
  -webkit-text-fill-color: peachpuff;
  /* font-weight: bold; */
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::selection {
  /* background-color: paleturquoise; */
  background-color: rgba(175, 238, 238, 0.6);
}

.error-text {
  color: white;
  font-family: 'Red Hat Mono', 'Courier New', monospace;
  font-size: 85%;
  font-weight: bold;
  text-shadow: 
    0 0 5px deeppink,
    0 0 10px deeppink,
    0 0 20px deeppink,
    0 0 30px deeppink;
}

.metadata {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Red Hat Mono', 'Courier New', monospace;
  font-size: 80%;
  font-style: italic;
  margin: 5px;
}

.hint,
.hint * {
  font-family: 'Red Hat Mono', 'Courier New', monospace;
  font-style: italic;
  font-size: small;    /* use absolute instead of relative values to keep same size for nested elements */
  color: rgba(255, 255, 255, 0.66)
}

.invisible {
  color: transparent;
}

/* purple moon image */
img.purple-moon {
  width: 280px;
  max-width: 100%;
}

img.purple-moon:hover {
  cursor: pointer;
}

/* scrollbar */
/* ////////////////////////////////////////////////////// consider removing the scrollbar altogether */
/* width */
::-webkit-scrollbar {
  width: 18px;
}
/* Track */
::-webkit-scrollbar-track {
  background: solid transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  width: 10px;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
